/* Start Components */
.services, .portfolio,
.about, .contact,
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
.hidden-address {
  margin: 0;
  text-align: center;
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -3px;
}
.hidden-address + p {
  text-align: center;
  margin-top: -30px;
  color: #777;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 768px) {
  .hidden-address {
    font-size: 70px;
  }
  .hidden-address + p {
    margin-top: -20px;
  }
}
/* End Components */