/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icoun span:nth-child(2) {
  width: 100%;
}
.header .links .icoun {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icoun span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icoun span:first-child {
  width: 100%;
}
.header .links .icoun span:nth-child(2) {
  width: 60%;
  transition: 0.3s;
}
.header .links .icoun span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #f6f6f6;
  right: 0;
  top: calc(100% + 15px);
  min-width: 200px;
  display: none;
  z-index: 1;
}
.header .links:hover ul {
  display: block;
}
.header .links ul::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.5s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: solid 1px #ddd;
}
/* End Header */
/* Start Landing Section */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 68px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 300px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  color: var(--main-color);
  font-size: 50px;
  font-weight: 800;
}
.landing .intro-text p {
  font-size: 1em;
  line-height: 1.8;
}
/* End Landing Section */
/* Start Features */
.features {
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
@media (max-width: 992px) and (min-width: 650px) {
  .features .feat:last-of-type {
    grid-column: 1/3;
  }
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  font-size: 17px;
  color: #777;
  line-height: 1.8;
}
/* End Features */
/* Start Services */
.services .services-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.services .services-cont .serv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .services .services-cont .serv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-cont .serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-cont .serv .text {
  flex: 1;
}
.services .services-cont .serv .text h3 {
  margin: 0;
}
.services .services-cont .serv .text p {
  color: #777;
  line-height: 1.6;
  font-weight: 300;
}
.services .services-cont .image {
  position: relative;
  text-align: center;
}
.services .services-cont .image::before {
  content: "";
  background-color: var(--secondary-color);
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  right: 0;
  z-index: -1;
}
.services .services-cont .image img {
  width: 260px;
}
@media (max-width: 1200px) {
  .services .services-cont .image {
    display: none;
  }
}
/* End Services */
/* Start Portfolio */
.portfolio {
  background-color: var(--section-background);
}
.portfolio .portfolio-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.portfolio .portfolio-cont .card {
  background-color: white;
}
.portfolio .portfolio-cont .card img {
  max-width: 100%;
  text-align: center;
}
.portfolio .portfolio-cont .card .port {
  padding: 15px;
}
.portfolio .portfolio-cont .card .port h3 {
  margin: 0;
  font-weight: 800;
}
.portfolio .portfolio-cont .card .port p {
  color: #333;
  line-height: 1.8;
  margin-bottom: 0;
}
.portfolio .btn {
  width: fit-content;
  padding: 10px 5px;
  margin: 60px auto 0;
  background-color: white;
  border: solid 2px #333;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.portfolio .btn a {
  text-decoration: none;
  color: #333;
}
.portfolio .btn:hover {
  box-shadow: inset 1px 1px 3px #535252, 3px 3px 0 #333;
  font-weight: bold;
}
/* End Portfolio */
/* Start About */
.about .about-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .about .about-cont {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-cont .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .about .about-cont .image {
    margin: 0 auto 60px;
  }
}
.about .about-cont .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -30px;
  z-index: -1;
}
.about .about-cont .image::after {
  content: "";
  position: absolute;
  height: 280px;
  width: 120px;
  border-width: 0 0 80px 80px;
  border-style: solid;
  border-color: var(--main-color);
  right: -160px;
  top: -40px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-cont .image::before,
  .about .about-cont .image::after {
    display: none;
  }
}
.about .about-cont .image img {
  max-width: 100%;
}
.about .about-cont .text {
  flex-basis: calc(100% - 500px);
}
.about .about-cont .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-cont .text hr {
  width: 50%;
  display: inline-block;
  color: var(--main-color);
}
.about .about-cont .text p:last-of-type {
  color: #777;
  line-height: 2;
}
/*End About */
/* Start Contact */
.contact {
  background-color: var(--section-background);
}
.contact .contact-cont {
  text-align: center;
  margin-top: 100px;
}
.contact .contact-cont .label {
  font-weight: 800;
  font-size: 35px;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .contact-cont .link {
  display: block;
  font-weight: 800;
  font-size: 35px;
  color: var(--main-color);
  text-decoration: none;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .contact .contact-cont .label,
  .contact .contact-cont .link {
    font-size: 25px;
    margin-bottom: 10px;
  }
}
.contact .contact-cont .info {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
}
.contact .contact-cont .info i {
  margin-left: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.contact .contact-cont .info i:hover {
  color: var(--main-color);
}
/* End Contact */
/* Start Footer */
.footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 30px 10px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */

